// Import Carbon styles
@use '@carbon/styles/scss/reset';
@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/components';
@use '@carbon/styles/scss/themes';
@use '@carbon/styles/scss/theme';

// Default theme applied to :root
:root {
    @include theme.theme(themes.$white);
}

// Theme classes applied to html element
html.cds--white {
    @include theme.theme(themes.$white);
}

html.cds--g10 {
    @include theme.theme(themes.$g10);
}

html.cds--g90 {
    @include theme.theme(themes.$g90);
}

html.cds--g100 {
    @include theme.theme(themes.$g100);
}