services:
  pbihoster:
    image: ghcr.io/aenas11/pbihoster:main
    container_name: pbihoster
    restart: unless-stopped
    ports:
      - "8080:8080"  # Change left side to map different host port (e.g., "80:8080")
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - PORT=8080  # Change this if you want the app to listen on a different internal port
